/* GLOBALS */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Rem Reset */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.center-container {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}


/*---------------------*/


/* Background (Header) */

.hero-container {
    position: relative;
    height: 80vh;
}

.hero {
    position: absolute;
    top: 0;
    background-image: url(images/your_verse_hero_2x.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80vh;
    min-height: 40rem;
    min-width: 80rem;
}


/*------------------*/


/* navigation bar */

.nav-container {
    width: 75vw;
    height: 4rem;
    margin: 10rem auto 0;
}

.nav-content {
    justify-content: space-around;
    align-items: center;
}

.nav-content a {
    flex-basis: 10%;
}

.apple-logo {
    height: 4rem;
    overflow-y: hidden;
}